# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [3]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [5]:
#SEU CÓDIGO COMEÇA AQUI
df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [13]:
#SEU CÓDIGO COMEÇA AQUI

print("O número de linhas é: ", df.shape[0])
print("O número de colunas é: ", df.shape[1])

O número de linhas é:  1000
O número de colunas é:  8

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [14]:
#SEU CÓDIGO COMEÇA AQUI
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [16]:
#SEU CÓDIGO COMEÇA AQUI
valores_nulos = df.isnull().sum()
print(valores_nulos)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [17]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
df = df.drop(columns=remover)

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [21]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethinicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

#SEU CÓDIGO COMEÇA AQUI
df = df.rename(columns=nome_colunas)

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [25]:
#SEU CÓDIGO COMEÇA AQUI
df_numerico = df.select_dtypes(include=['number'])

estatisticas_descritivas = df_numerico.describe().T

estatisticas_descritivas['median'] = df_numerico.median()

estatisticas_descritivas = estatisticas_descritivas[['mean', '50%', 'std', 'min', 'max']].rename(
    columns={
        'mean': 'Média',
        '50%': 'Mediana',
        'std': 'Desvio Padrão',
        'min': 'Mínimo',
        'max': 'Máximo'
    }
)

print(estatisticas_descritivas)

                  Média  Mediana  Desvio Padrão  Mínimo  Máximo
Nota_Matemática  66.089     66.0      15.163080     0.0   100.0
Nota_Leitura     69.169     70.0      14.600192    17.0   100.0
Nota_Redação     68.054     69.0      15.195657    10.0   100.0

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [26]:
#SEU CÓDIGO COMEÇA AQUI
media_matematica = df['Nota_Matemática'].mean()
media_leitura = df['Nota_Leitura'].mean()
media_redacao = df['Nota_Redação'].mean()

df_acima_media = df[
    (df['Nota_Matemática'] > media_matematica) &
    (df['Nota_Leitura'] > media_leitura) &
    (df['Nota_Redação'] > media_redacao)
]

print(df_acima_media)

num_alunos_acima_media = df_acima_media.shape[0]
print(f"Número de alunos com notas acima da média em todos os exames: {num_alunos_acima_media}")

     Gênero race/ethnicity Curso_Prep  Nota_Matemática  Nota_Leitura  \
0    female        group B       none               72            72
1    female        group C  completed               69            90
2    female        group B       none               90            95
4      male        group C       none               76            78
5    female        group B       none               71            83
..      ...            ...        ...              ...           ...
989  female        group D  completed               67            86
990    male        group E  completed               86            81
995  female        group E  completed               88            99
998  female        group D  completed               68            78
999  female        group D       none               77            86

     Nota_Redação
0              74
1              88
2              93
4              75
5              78
..            ...
989            83
990            75
995            95
998            77
999            86

[374 rows x 6 columns]
Número de alunos com notas acima da média em todos os exames: 374

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [29]:
#SEU CÓDIGO COMEÇA AQUI
df['Nota_Geral'] = df[['Nota_Matemática', 'Nota_Leitura', 'Nota_Redação']].mean(axis=1)

df = df.sort_values(by='Nota_Geral', ascending=False)

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [30]:
#SEU CÓDIGO COMEÇA AQUI
contagem_genero = df['Gênero'].value_counts()
print("Contagem por Gênero:")
print(contagem_genero)

Contagem por Gênero:
Gênero
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [33]:
#SEU CÓDIGO COMEÇA AQUI
contagem_raca_etnia = df['race/ethnicity'].value_counts()
print("\nContagem por Raça/Etnia:")
print(contagem_raca_etnia)

Contagem por Raça/Etnia:
race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [32]:
#SEU CÓDIGO COMEÇA AQUI
contagem_curso_prep = df['Curso_Prep'].value_counts()
print("\nContagem por Curso Preparatório:")
print(contagem_curso_prep)

Contagem por Curso Preparatório:
Curso_Prep
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [41]:
#SEU CÓDIGO COMEÇA AQUI

gender = df.groupby('Gênero')

media = gender["Curso_Prep"].value_counts(normalize=True)

media

Gênero  Curso_Prep
female  none          0.644788
        completed     0.355212
male    none          0.639004
        completed     0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [55]:
numerical_columns = ['math score', 'reading score', 'writing score']

gender_group = df.groupby('gender')[numerical_columns].mean()

diff_gender = gender_group.max() - gender_group.min()

max_diff_gender = diff_gender.idxmax()
print(f"Disciplina com a maior diferença entre homens e mulheres: {max_diff_gender}, Diferença: {diff_gender[max_diff_gender]}")

Disciplina com a maior diferença entre homens e mulheres: writing score, Diferença: 9.155978147679384

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [56]:
#SEU CÓDIGO COMEÇA AQUI
race_group = df.groupby('race/ethnicity')[numerical_columns].mean()

diff_race = race_group.max() - race_group.min()

max_diff_race = diff_race.idxmax()
print(f"Disciplina com a maior diferença entre as raças/etnias: {max_diff_race}, Diferença: {diff_race[max_diff_race]}")

Disciplina com a maior diferença entre as raças/etnias: math score, Diferença: 12.192215088282502

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [57]:
#SEU CÓDIGO COMEÇA AQUI
prep_course_group = df.groupby('test preparation course')[numerical_columns].mean()

diff_prep_course = prep_course_group.max() - prep_course_group.min()

max_diff_prep_course = diff_prep_course.idxmax()
print(f"Disciplina com a maior diferença entre os que realizaram ou não curso preparatório: {max_diff_prep_course}, Diferença: {diff_prep_course[max_diff_prep_course]}")

Disciplina com a maior diferença entre os que realizaram ou não curso preparatório: writing score, Diferença: 9.914321516211558

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [60]:
diff_values = {
    'Gênero': diff_gender,
    'Raça/Etnia': diff_race,
    'Curso Preparatório': diff_prep_course
}

factor, max_diff = max(diff_values.items(), key=lambda x: x[1])

print(f"O fator qualitativo com maior discrepância de desempenho entre suas categorias é: {factor}, com uma diferença de {max_diff:.2f} pontos na nota geral.")

O fator qualitativo com maior discrepância de desempenho entre suas categorias é: Raça/Etnia, com uma diferença de 9.76 pontos na nota geral.